target/
.venv
.venv_agent
.qwen
.env
.env-local
.credentials
__pycache__
venv/
*.egg-info/
build/
dist/

dbt_packages/

# Crash log files
crash.log
crash.*.log

# Environment files
.env
*.auto.tfvars

.vscode


# this is a dbt artifact you do not want
config/.user.yml

# local configs, used when developing locally
config/linkfish_genesis_stats.code-workspace
config/profiles.yml
config/genesis_sources.yml

python/orchestration.py



data/*
!data/.gitkeep

logs/*
!logs/.gitkeep

dbt/logs
